:root {
    --accent-favorite: rgba(255, 0, 65, 1.0);
    --card-ending-text-fg: rgba(255, 52, 79, 0.877);
    --card-unavailable: rgba(25, 25, 25, 0.65);
    --card-unavailable-hover: rgba(25, 25, 25, 0.65);
    --card-unavailable-loading-dots: rgba(10, 10, 10, 0.30);
    --card-unavailable-ending-text-fg: rgba(255, 52, 79, 0.877);
    --card-unavailable-summoner-text-fg: rgba(255, 255, 255, 0.40);
    --card-image-bg: rgba(135, 135, 135, 0.103);
    --card-image-border: rgba(255, 255, 255, 0.08);
    --card-image-border-2: rgba(255, 255, 255, 0.2);
    --card-image-mask-1: rgba(0,0,0,1);
    --card-image-mask-40: rgba(0,0,0,0.40);
    --card-bg: rgba(16, 16, 16, 0.70);
    --card-bg-hovered: rgba(9, 9, 9, 0.90);
    --card-bg-hovered-shadow: rgba(0, 0, 0, 0.25);
    --card-game-timer: rgba(15, 15, 15, 0.90);
    --card-game-timer-text-fg: rgba(255, 255, 255, 0.60);
    --card-text-sub: rgba(255, 255, 255, 0.50);
    --card-text-sub-active: rgba(255, 255, 255, 0.80);
    --card-text-sub-hover: rgba(255, 255, 255, 0.75);
    --card-text-sub-clicked: rgba(255, 255, 255, 0.75);
    --card-menu-bg-shadow: rgba(0, 0, 0, 0.35);
    --card-menu-title-fg: rgba(255, 255, 255, 0.50);
    --card-menu-item-text-fg: rgba(255, 255, 255, 0.80);
    --card-menu-item-text-hovered-fg: rgba(255, 255, 255, 0.95);
    --card-menu-item-text-active-hovered-fg: rgba(255, 255, 255, 0.75);
    --card-menu-divider: rgba(255, 255, 255, 0.10);
    --card-menu-button-disabled: rgba(66, 66, 66, 0.25);
    --card-menu-button-normal: rgba(66, 66, 66, 0.90);
    --card-menu-button-pressed: rgba(85, 85, 85, 0.25);
    --card-menu-button-hover: rgba(85, 85, 85, 0.30);
    --menu-icon-normal: rgba(255, 255, 255, 0.80);
    --menu-icon-disabled: rgba(255, 255, 255, 0.50);
}

.theme-oled {
    --card-bg: rgba(16, 16, 16, 0.70);
    --card-bg-hovered: rgba(19, 19, 19, 0.80);
    --card-bg-hovered-shadow: rgba(0, 0, 0, 0.25);
}

.card-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    pointer-events: all;
    min-width: 133px;
    z-index: 99 !important;
    background-color: rgb(13, 13, 13, 0.99);
    border-radius: 5px;
    box-shadow: 0 0 15px 0px var(--card-menu-bg-shadow);
}

.card-menu-upper {
    display: flex;
    flex-direction: column;
    margin: 6px 6px 0 6px;
}
.card-menu-lower {
    display: flex;
    flex-direction: column;
    margin: 0 6px 6px 6px;
}

.card-menu-title {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 3px;
    padding: 0 12px 0 12px;
    font-family: 'Inter_Medium', serif;
    font-size: 12px;
    color: var(--card-menu-title-fg);
    white-space: nowrap;
    text-align: left;
    height: 30px;
}

.br_BA .card-menu-title {
    font-family: 'ChmcBraille_nK5P', 'RobotoMono_Regular', serif !important;
    font-size: 11px !important;
    letter-spacing: 3px !important;
}

.card-menu-button {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 30px;
    border-radius: 3px;
    padding: 0 6px 0 0;
    cursor: pointer;
}

.card-menu-button span {
    font-family: 'Inter_Medium', serif;
    font-size: 12px;
    color: var(--card-menu-item-text-fg);
    white-space: nowrap;
    text-align: left;
    width: 100%;
}

.br_BA .card-menu-button span {
    font-family: 'ChmcBraille_nK5P', 'Inter_Medium', serif !important;
    font-size: 11px !important;
    letter-spacing: 3px !important;
}
.card-menu-button img {
    display: block;
    object-fit: contain;
    opacity: 0.80;
    margin: 1px 6px 0 0;
}

.tv-icon {
    height: 18px;
    width: 18px;
}
.chart-icon {
    height: 14px;
    width: 15px;
}
.arrow-icon {
    height: 13px;
    width: 14px;
}
.heart-icon {
    height: 16px;
    width: 16px;
    -webkit-transition: all 0.13s ease;  
    -moz-transition: all 0.13s ease;  
    -o-transition: all 0.13s ease;  
    -ms-transition: all 0.13s ease;  
    transition: all 0.13s ease;
}
.icon-normal {
    transform: scale(1.0);
}
.icon-bounce {
    transform: scale(1.17);
}

.tvNormal {
    background-color: var(--menu-icon-normal);
    mask: url('src/assets/icons/UIcons/fi-rr-screen.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/UIcons/fi-rr-screen.svg') no-repeat center / contain;
}
.tvHovered {
    background-color: var(--accent);
    mask: url('src/assets/icons/UIcons/fi-rr-screen.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/UIcons/fi-rr-screen.svg') no-repeat center / contain;
}
.chartNormal {
    background-color: var(--menu-icon-normal);
    mask: url('src/assets/icons/UIcons/fi-br-stats.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/UIcons/fi-br-stats.svg') no-repeat center / contain;
}
.chartHovered {
    background-color: var(--accent);
    mask: url('src/assets/icons/UIcons/fi-br-stats.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/UIcons/fi-br-stats.svg') no-repeat center / contain;
}
.arrowNormal {
    background-color: var(--menu-icon-normal);
    mask: url('src/assets/icons/UIcons/fi-rr-arrow.up.right.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/UIcons/fi-rr-arrow.up.right.svg') no-repeat center / contain;
}
.arrowHovered {
    background-color: var(--accent);
    mask: url('src/assets/icons/UIcons/fi-rr-arrow.up.right.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/UIcons/fi-rr-arrow.up.right.svg') no-repeat center / contain;
}
.arrowDisabled {
    background-color: var(--menu-icon-disabled);
    mask: url('src/assets/icons/UIcons/fi-rr-arrow.up.right.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/UIcons/fi-rr-arrow.up.right.svg') no-repeat center / contain;
}
.heartFavorited {
    background-color: var(--accent-favorite);
    mask: url('src/assets/icons/UIcons/fi-rr-heart.fill.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/UIcons/fi-rr-heart.fill.svg') no-repeat center / contain;
}
.heartUnfavorited {
    background-color: var(--menu-icon-normal);
    mask: url('src/assets/icons/UIcons/fi-rr-heart.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/UIcons/fi-rr-heart.svg') no-repeat center / contain;
}

.menu-icon-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 30px;
    border-radius: 0;
    padding: 0 8px 0 12px;

}

.menu-button-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.card-menu-spacer {
    height: 13px;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.menu-divider {
    height: 1px;
    background-color: var(--card-menu-divider);
}

.card-menu-button:hover {
    background-color: var(--card-menu-button-hover);
}
.card-menu-button:active {
    background-color: var(--card-menu-button-pressed) !important;
}

.card-menu-button:hover span {
    color: var(--card-menu-item-text-hovered-fg);
}
.card-menu-button:hover img {
    opacity: 0.95;
}
.card-menu-button:active span {
    color: var(--card-menu-item-text-active-hovered-fg);
}

.card-outer {
    margin: auto;
    position: relative;
}

.player-card {
    display: block;
    position: relative;
    width: 180px;
    height: 213px;
    border-radius: 6px;
    padding: 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    pointer-events: all;
    backface-visibility: hidden !important;
    z-index: 10;
    cursor: pointer;
    background-color: var(--card-bg);
    backdrop-filter: blur(6px);
    transition: background-color 0.075s ease-in-out, margin-top 0.075s ease-in-out;
}

.card-unavailable {
    cursor: default;
    filter: grayscale(1) !important;
    overflow: visible;
    z-index: 90 !important;
    background-color: var(--card-unavailable);
}

.card-unavailable:active {
    filter: grayscale(1) opacity(0.65) !important;
}

.player-card-clicked {
    cursor: default !important;
    pointer-events: all;
}

.card-image {
    display: block;
    position: relative;
    width: 100%;
    height: 149px;
    border-radius: 4px;
    background-repeat: no-repeat;
    opacity: 0.30;
    background-position-y: -10px;
    background-position-x: -37px;
    background-size: 320px;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid var(--card-image-border-2);
    z-index: 1;
    mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--card-image-mask-1)), to(var(--card-image-mask-40)));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--card-image-mask-1)), to(var(--card-image-mask-40)));
}

.card-unavailable .card-image {
    opacity: 0.2;
}

.card-image-cutout {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.55;
    background-position: right;
    pointer-events: none;
    filter: opacity(0.4);
    z-index: 1;
}

.card-unavailable .card-image-cutout {
    display: none;
}

.player-card-clicked,
.player-card:hover
{
    background-color: var(--card-bg-hovered);
    box-shadow: 0 0 20px 0 var(--card-bg-hovered-shadow);
    margin-top: -6px;
}
.player-card-clicked .card-image,
.player-card:hover .card-image
{
    opacity: 0.65;
    filter: grayscale(0) brightness(1.1) opacity(1.0) !important;
    mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--card-image-mask-1)), to(var(--card-image-mask-40)));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--card-image-mask-1)), to(var(--card-image-mask-40)));
}
.card-unavailable:hover {
    background-color: var(--card-unavailable-hover);
    box-shadow: none;
}

.card-unavailable:hover .card-image,
.card-unavailable:hover .card-image-cutout
{
    opacity: 0.2;
    filter: grayscale(1) brightness(1.0) opacity(0.35) !important;
}
.card-unavailable:active .card-image,
.card-unavailable:active .card-image-cutout
{
    opacity: 0.30;
    filter: grayscale(0.1) opacity(0.4);
}
.player-card:hover .text-summoner {
    color: var(--accent);
}

.card-content {
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    border-radius: 10px;
}

.card-photo {
    position: absolute;
    left: 0;
    bottom: 58px;
    height: 100%;
    width: 100%;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: bottom;
    /* TODO: player photos get blurry RIGHT AT 'background-size: 186px'... DONT KNOW WHY */
    /* NOTE: annnnndd maybe 187px???? idk */
    background-size: 158px;
    border-radius: 4px;
}

.card-unavailable .card-photo {
    opacity: 0.55;
}

.image-small-logo {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 10px;
    bottom: 10px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    background-size: 40px;
    background-color: var(--card-image-bg);
    border: 1px solid var(--card-image-border);
    z-index: 3;
}

.card-champ {
    position: absolute;
    height: 47px;
    width: 47px;
    left: 7px;
    top: 7px;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: all;
    background-size: 55px;
    background-color: var(--card-image-bg);
    z-index: 2;
}
.player-card:hover .card-champ {
    opacity: 1.0 !important;
}

.card-role {
    height: 15px;
    opacity: 0.40;
    margin-right: 7px;
}
.player-card:hover .card-role {
    opacity: 0.65 !important;
}
.card-unavailable .card-role {
    display: none !important;
}

.card-drag {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 4;
    cursor: grab;
    padding: 8px;
}

.card-unavailable .card-champ,
.card-unavailable .player-level
{
    display: none;
}

.card-unavailable .blur-small {
    display: none;
}

.game-timer {
    visibility: visible;
    position: absolute !important;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 4px 8px 5px 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 5px;
    pointer-events: all;
    top: 4px;
    right: 4px;
    background-color: var(--card-game-timer);
    z-index: 2;
}

.game-timer-text {
    position: absolute;
    left: 7px;
    top: 54px;
    width: 47px;
    background-color: var(--card-bg);
    backdrop-filter: blur(8px);
    padding: 4px 0 3px 0;
    border-radius: 0 0 6px 0;
    font-family: 'RobotoMono_Regular', serif !important;
    text-align: center;
    font-size: 10px;
    color: var(--card-game-timer-text-fg);
    pointer-events: none;
    z-index: 2 !important;
    user-select: none;
}

.card-unavailable .game-timer {
    top: 2px !important;
    right: 2px !important;
}

.loading-dots {
    display: none;
    user-select: none;
}

.card-unavailable .loading-dots {
    display: block;
    position: absolute;
    height: 18px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 0 0 6px 6px;
    text-align: center;
    z-index: 4;
    user-select: none;
    background-color: var(--card-unavailable-loading-dots);
    padding: 2px 0 0 0;
    backdrop-filter: blur(8px);
}

.loading-dot {
    display: inline;
    margin: 0 0.1em 0 0.1em;
    position: relative;
    top: -.6em;
    font-size: 20px;
    opacity: 0;
    animation: showHideDot 1s ease-in-out infinite;
    pointer-events: none;
    user-select: none;
}

.dot-one {
    animation-delay: 0.1s;
}

.dot-two {
    animation-delay: 0.3s;
}

.dot-three {
    animation-delay: 0.5s;
}

@keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 0.9; }
    60% { opacity: 0.9; }
    100% { opacity: 0; }
}

.ending-text {
    color: var(--card-ending-text-fg) !important;
}
.ending-svg {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    flex: 1;
    z-index: 2;
    pointer-events: none;
    border-radius: 0 0 10px 10px;
    margin: 0 10px 0 10px;
    overflow: hidden;
    height: 58px;
}

.summoner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.card-unavailable .text-container {
    padding: 0;
    flex: 1;
    align-items: center;
}

.text-summoner {
    font-family: 'NotoSansKR_Medium', serif;
    max-height: 23px;
    color: white;
    pointer-events: none;
    display: block;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    z-index: 3;
    margin: -2px 0 0 0;
}
.br_BA .text-summoner {
    font-family: 'ChmcBraille_nK5P', 'NotoSansKR_Medium', serif !important;
    letter-spacing: 3px !important;
    margin-top: 3px;
}
/*.ku_KZ .text-summoner {*/
/*    font-family: 'Khuzdulerebor_Rjno', 'NotoSansKR_Medium', serif !important;*/
/*    letter-spacing: 1px !important;*/
/*    margin-top: 3px;*/
/*}*/

.animated {
    overflow: hidden;
    width: 11rem;
    white-space: nowrap;
}
  
.animated > .text-summoner {
    display: inline-block;
    position: relative;
    animation: 3s linear 0s infinite alternate move;
}
  
.animated > *.min {
    min-width: 100%;
}
  
@keyframes move {
    0%,
    25% {
      transform: translateX(0%);
      left: 0;
    }
    75%,
    100% {
      transform: translateX(-100%);
      left: 100%;
    }
}

.card-unavailable .text-summoner {
    max-height: 58px;
    margin: 8px 0 5px 0;
    color: var(--card-unavailable-summoner-text-fg);
    text-align: center !important;
    overflow-y: visible;
    overflow-x: visible;
    width: 100%;
}

.text-sub {
    font-family: 'RobotoMono_Regular', serif;
    font-size: 12px;
    color: var(--card-text-sub);
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    margin: 1px 0 0 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.br_BA .text-sub {
    font-family: 'ChmcBraille_nK5P', 'Inter_Medium', serif !important;
    font-size: 11px !important;
    letter-spacing: 3px !important;
    margin: 5px auto 1px 0;
}
.ku_KZ .text-sub {
    font-family: 'Khuzdulerebor_Rjno', 'Inter_Medium', serif !important;
    font-size: 9px !important;
    margin: 5px auto 2px 0;
}

.text-sub-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.card-unavailable .text-sub,
.card-unavailable .game-timer-text
{
    display: none;
}

.card-unavailable .text-summoner
{
    margin: 0;
}
  
.clock-svg {
    margin: 1px 5px 0 0;
    height: 12px;
    opacity: 0.5;
    pointer-events: none;
}

.card-unavailable .clock-svg {
    display: none;
}

.card-unavailable .ending-text
{
    color: var(--card-unavailable-ending-text-fg) !important;
}

.player-card:hover .text-sub,
.player-card-clicked .text-sub
{
    color: var(--card-text-sub-hover);
}

.player-card:hover .game-timer-text,
.player-card-clicked .game-timer-text
{
    color: var(--accent);
    background-color: var(--card-bg-hovered);
}
.player-card:active .text-sub {
    color: var(--card-text-sub-active);
}
.player-card:hover .clock-svg,
.player-card-clicked .clock-svg
{
    opacity: 1.0;
}
.player-card:active .clock-svg {
    opacity: 0.8;
}