:root {
    --card-menu-button-disabled: rgba(66, 66, 66, 0.25);
    --card-menu-button-normal: rgba(66, 66, 66, 0.90);
    --card-menu-button-pressed: rgba(85, 85, 85, 0.25);
    --card-menu-button-hover: rgba(85, 85, 85, 0.30);
    --menu-icon-normal: rgba(255, 255, 255, 0.80);
    --menu-icon-disabled: rgba(255, 255, 255, 0.50);
}

.card-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    pointer-events: all;
    min-width: 133px;
    z-index: 99 !important;
    background-color: rgb(13, 13, 13, 0.99);
    border-radius: 5px;
    padding: 6px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.35);
}

.card-menu-info {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 3px;
    padding: 0 12px 0 12px;
    font-family: 'Inter_Medium';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.50);
    white-space: nowrap;
    text-align: left;
    height: 30px;
}

.br_BA .card-menu-info {
    font-family: 'ChmcBraille_nK5P', 'RobotoMono_Regular' !important;
    font-size: 11px !important;
    letter-spacing: 3px !important;
    font-size: 11px;
}

.card-menu-button {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 30px;
    border-radius: 3px;
    padding: 0 6px 0 0;
    cursor: pointer;
}

.card-menu-button span {
    font-family: 'Inter_Medium';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.80);
    white-space: nowrap;
    text-align: left;
    width: 100%;
}

.br_BA .card-menu-button span {
    font-family: 'ChmcBraille_nK5P', 'Inter_Medium' !important;
    font-size: 11px !important;
    letter-spacing: 3px !important;
    font-size: 11px;
}
.card-menu-button img {
    display: block;
    object-fit: contain;
    opacity: 0.80;
    margin: 1px 6px 0 0;
}

.tv-icon {
    height: 16px;
    width: 16px;
}
.chart-icon {
    height: 14px;
    width: 15px;
}
.arrow-icon {
    height: 12px;
    width: 13px;
}
.heart-icon {
    height: 16px;
    width: 16px;
    -webkit-transition: all 0.13s ease;  
    -moz-transition: all 0.13s ease;  
    -o-transition: all 0.13s ease;  
    -ms-transition: all 0.13s ease;  
    transition: all 0.13s ease;
}
.icon-normal {
    transform: scale(1.0);
}
.icon-bounce {
    transform: scale(1.15);
}

.tvNormal {
    background-color: var(--menu-icon-normal);
    mask: url('src/assets/icons/tv.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/tv.svg') no-repeat center / contain;
}
.tvHovered {
    background-color: var(--accent);
    mask: url('src/assets/icons/tv.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/tv.svg') no-repeat center / contain;
}
.chartNormal {
    background-color: var(--menu-icon-normal);
    mask: url('src/assets/icons/chart.xyaxis.line.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/chart.xyaxis.line.svg') no-repeat center / contain;
}
.chartHovered {
    background-color: var(--accent);
    mask: url('src/assets/icons/chart.xyaxis.line.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/chart.xyaxis.line.svg') no-repeat center / contain;
}
.arrowNormal {
    background-color: var(--menu-icon-normal);
    mask: url('src/assets/icons/arrow.up.right.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/arrow.up.right.svg') no-repeat center / contain;
}
.arrowHovered {
    background-color: var(--accent);
    mask: url('src/assets/icons/arrow.up.right.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/arrow.up.right.svg') no-repeat center / contain;
}
.arrowDisabled {
    background-color: var(--menu-icon-disabled);
    mask: url('src/assets/icons/arrow.up.right.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/arrow.up.right.svg') no-repeat center / contain;
}
.heartFavorited {
    background-color: var(--accent);
    mask: url('src/assets/icons/heart.fill.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/heart.fill.svg') no-repeat center / contain;
}
.heartUnfavorited {
    background-color: var(--menu-icon-normal);
    mask: url('src/assets/icons/heart.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/heart.svg') no-repeat center / contain;
}

.menu-icon-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 36px;
    height: 30px;
    border-radius: 0;
    padding: 0 2px 0 12px;

}

.menu-button-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.card-menu-spacer {
    height: 13px;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 5px 0 5px;
}

.menu-divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.10);
}

.card-menu-button:hover {
    background-color: var(--card-menu-button-hover);
}
.card-menu-button:active {
    background-color: var(--card-menu-button-pressed) !important;
}

.card-menu-button:hover span {
    color: rgba(255, 255, 255, 0.95);
}
.card-menu-button:hover img {
    opacity: 0.95;
}
.card-menu-button:active span {
    color: rgba(255, 255, 255, 0.75);
}

.card-outer {
    margin: auto;
    position: relative;
}

.player-card {
    display: block;
    position: relative;
    width: 180px;
    height: 213px;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    pointer-events: all;
    backface-visibility: hidden !important;
    z-index: 10;
    cursor: pointer;
    background-color: rgba(23, 23, 23, 0.70);
}

.card-unavailable {
    cursor: default;
    filter: grayscale(1) !important;
    overflow: visible;
    z-index: 90 !important;
    background-color: rgba(25, 25, 25, 0.65);
}

.card-unavailable:active {
    filter: grayscale(1) opacity(0.65) !important;
}

.player-card-clicked {
    cursor: default !important;
    pointer-events: all;
}

.card-image {
    display: block;
    position: relative;
    width: 100%;
    height: 145px;
    border-radius: 4px;
    background-repeat: no-repeat;
    opacity: 0.35;
    background-position: center;
    background-size: 217px;
    pointer-events: none;
    filter: grayscale(1) opacity(0.4);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.card-unavailable .card-image {
    opacity: 0.2;
}

.card-image-cutout {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.55;
    background-position: right;
    pointer-events: none;
    filter: grayscale(1) opacity(0.4);
    z-index: 1;
}

.card-unavailable .card-image-cutout {
    display: none;
}

.player-card-clicked,
.player-card:hover
{
    background-color: rgb(16, 16, 16, 0.90);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25 );
}
.player-card-clicked .card-image,
.player-card:hover .card-image
{
    filter: grayscale(1) brightness(1.1) opacity(0.55) !important;
}
.card-unavailable:hover {
    background-color: rgba(25, 25, 25, 0.65);
    box-shadow: none;
}

.card-unavailable:hover .card-image,
.card-unavailable:hover .card-image-cutout
{
    opacity: 0.2;
    filter: grayscale(1) brightness(1.0) opacity(0.35) !important;
}
.card-unavailable:active .card-image,
.card-unavailable:active .card-image-cutout
{
    opacity: 0.30;
    filter: grayscale(0.1) opacity(0.4);
}

.card-content {
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    border-radius: 10px;
}

.card-photo {
    position: absolute;
    left: 0;
    bottom: 58px;
    height: 100%;
    width: 100%;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    /* TODO: player photos get blurry RIGHT AT 'background-size: 186px'... DONT KNOW WHY */
    /* NOTE: annnnndd maybe 187px???? idk */
    background-size: 158px;
    border-radius: 4px;
}

.card-unavailable .card-photo {
    opacity: 0.55;
}

.image-small-logo {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 10px;
    bottom: 10px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    pointer-events: none;
    background-size: 40px;
    background-color: rgba(135, 135, 135, 0.103);
    border: 1px solid rgb(255, 255, 255, 0.08);
    z-index: 3;
}

.card-champ {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 15px;
    top: 15px;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: contain;
    background-position: center;
    pointer-events: all;
    background-size: 58px;
    background-color: rgba(135, 135, 135, 0.10);
    z-index: 2;
}

.card-drag {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 4;
    cursor: grab;
    padding: 8px;
}

.card-unavailable .card-champ,
.card-unavailable .player-level
{
    display: none;
}

.player-level {
    pointer-events: none;
    background-color: rgba(10, 10, 10, 1.0);
    z-index: 4 !important;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: 'RobotoMono_Regular';
    border-radius: 12px;
    padding: 2px 6px 2px 6px;
    font-size: 10px;
}

.blur-small {
    position: absolute;
    height: 52px;
    width: 52px;
    left: 12px;
    pointer-events: none;
    bottom: 16px;
    border-radius: 7px;
    background-color: rgba(135, 135, 135, 0.10);  
    z-index: 2;
}

.card-unavailable .blur-small {
    display: none;
}

.game-timer {
    visibility: visible;
    position: absolute !important;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 4px 8px 5px 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 5px;
    pointer-events: all;
    top: 4px;
    right: 4px;
    background-color: rgba(15, 15, 15, 0.90);
    z-index: 2;
}

.game-timer-text {
    position: absolute;
    left: 15px;
    top: 63px;
    width: 50px;
    background-color: rgba(16, 16, 16, 0.80);
    backdrop-filter: blur(3px);
    padding: 3px 0 3px 0;
    border-radius: 0 0 4px 4px;
    font-family: 'RobotoMono_Regular' !important;
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.60);
    pointer-events: none;
    z-index: 2 !important;
    user-select: none;
}

.card-unavailable .game-timer {
    top: 2px !important;
    right: 2px !important;
}

.loading-dots {
    display: none;
    user-select: none;
}

.card-unavailable .loading-dots {
    display: block;
    height: 15px;
    position: absolute;
    left: 16px;
    top: 16px;
    border-radius: 16px;
    text-align: center;
    z-index: 4;
    user-select: none;
    background-color: rgba(10, 10, 10, 0.30);
    padding: 0 4px 1px 4px;
}

.loading-dot {
    display: inline;
    margin: 0 0.1em 0 0.1em;
    position: relative;
    top: -.6em;
    font-size: 20px;
    opacity: 0;
    animation: showHideDot 1s ease-in-out infinite;
    pointer-events: none;
    user-select: none;
}

.dot-one {
    animation-delay: 0.1s;
}

.dot-two {
    animation-delay: 0.3s;
}

.dot-three {
    animation-delay: 0.5s;
}

@keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 0.9; }
    60% { opacity: 0.9; }
    100% { opacity: 0; }
}

.ending-text {
    color: rgba(255, 52, 79, 0.877) !important;
}
.ending-svg {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    flex: 1;
    z-index: 2;
    pointer-events: none;
    border-radius: 0 0 10px 10px;
    padding: 0 10px 0 15px;
    height: 58px;
}

.card-unavailable .text-container {
    padding: 0;
    flex: 1;
    align-items: center;
}

.text-summoner {
    font-family: 'NotoSansKR_Medium';
    max-height: 23px;
    color: white;
    pointer-events: none;
    display: block;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 154px;
    z-index: 3;
    margin: -2px 0 0 0;
}

.br_BA .text-summoner {
    font-family: 'ChmcBraille_nK5P', 'NotoSansKR_Medium' !important;
    letter-spacing: 3px !important;
    margin-top: 3px;
}

.animated {
    overflow: hidden;
    width: 11rem;
    white-space: nowrap;
}
  
.animated > .text-summoner {
    display: inline-block;
    position: relative;
    animation: 3s linear 0s infinite alternate move;
}
  
.animated > *.min {
    min-width: 100%;
}
  
@keyframes move {
    0%,
    25% {
      transform: translateX(0%);
      left: 0%;
    }
    75%,
    100% {
      transform: translateX(-100%);
      left: 100%;
    }
}

.card-unavailable .text-summoner {
    max-height: 58px;
    margin: 8px 0 5px 0;
    color: rgba(255, 255, 255, 0.4);
    text-align: center !important;
    overflow-y: visible;
    overflow-x: visible;
    width: 100%;
}

.text-sub {
    font-family: 'RobotoMono_Regular';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.50);
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    margin: 1px auto 0 0;
    z-index: 1;
}

.br_BA .text-sub {
    font-family: 'ChmcBraille_nK5P', 'Inter_Medium' !important;
    font-size: 11px !important;
    letter-spacing: 3px !important;
    margin: 5px auto 1px 0;
}

.text-sub-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.card-unavailable .text-sub,
.card-unavailable .game-timer-text
{
    display: none;
}

.card-unavailable .text-summoner
{
    margin: 0;
}
  
.clock-svg {
    margin: 1px 5px 0 0;
    height: 12px;
    opacity: 0.5;
    pointer-events: none;
}

.card-unavailable .clock-svg {
    display: none;
}

.card-unavailable .ending-text
{
    color: rgba(255, 52, 79, 0.877) !important;
}

.player-card:hover .text-sub,
.player-card-clicked .text-sub
{
    color: rgba(255, 255, 255, 0.75);
}

.player-card:hover .game-timer-text,
.player-card-clicked .game-timer-text
{
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(13, 13, 13, 0.90);
}
.player-card:active .text-sub {
    color: rgba(255, 255, 255, 0.80);
}
.player-card:hover .clock-svg,
.player-card-clicked .clock-svg
{
    opacity: 1.0;
}
.player-card:active .clock-svg {
    opacity: 0.8;
}

@keyframes blinkEnding {
    0% {
        box-shadow: 0 0 100px 12px rgba(255, 52, 79, 0.40);
    }
    50% {
        box-shadow: 0 0 100px 12px rgba(255, 52, 79, 0.80);
    }
    100% {
        box-shadow: 0 0 100px 12px rgba(255, 52, 79, 0.40);
    }
}