:root {
    --card-menu-button-disabled: rgba(66, 66, 66, 0.25);
    --card-menu-button-normal: rgba(66, 66, 66, 0.90);
    --card-menu-button-pressed: rgba(66, 66, 66, 0.60);
    --card-menu-button-pressedSelected: rgba(66, 66, 66, 0.90);
    --card-menu-button-selected: rgba(85, 85, 85, 0.90);
    --card-menu-button-selectedHover: rgba(77, 77, 77, 0.95);
}

.card-menu {
    display: none;
}

/* .player-card-clicked .card-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    pointer-events: none;
    z-index: 2;
} */

.card-menu-button {
    pointer-events: all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    width: 85px;
    margin: 3px;
    border-radius: 6px;
    padding: 0 12px 0 12px;
    transition: 0.10s;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: var(--card-menu-button-normal);
    cursor: pointer;
}

.card-menu-button span {
    font-family: 'Inter_Regular';
    font-size: 12px;
    margin: 4px;
    color: rgba(255, 255, 255, 0.95);
    white-space: nowrap;
}

.card-menu-button:hover {
    background-color: var(--card-menu-button-selected);
}
.card-menu-button:active {
    background-color: var(--card-menu-button-pressed) !important;
}

/* NOTE: May use this in the future */
/* .settings-open .player-card,
.settings-open .game-timer
{
    pointer-events: none !important;
}
.settings-open .card-photo
{
    filter: grayscale(1) opacity(0.8) !important;
}
.settings-open .card-image,
.settings-open .card-image-cutout
{
    filter: grayscale(1) opacity(0.4) !important;
} */

.player-card {
    display: block;
    position: relative;
    width: 203px;
    height: 165px;
    border-radius: 10px;
    margin: auto;
    padding: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* overflow: hidden; */
    pointer-events: all;
    backface-visibility: hidden !important;
    z-index: 3;
    cursor: pointer;
    background-color: rgba(26, 26, 26, 0.75);
}

.card-unavailable {
    cursor: default;
    border: 2px solid transparent !important;
    filter: grayscale(1) !important;
    overflow: visible;
    z-index: 4;
}

.card-unavailable:active {
    filter: grayscale(1) opacity(0.65) !important;
}

.player-card-clicked {
    cursor: default !important;
    pointer-events: all;
}

.card-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    opacity: 0.35;
    background-position: center;
    background-size: 217px;
    pointer-events: none;
    filter: grayscale(1) opacity(0.4);
    z-index: 1;
}

.card-unavailable .card-image {
    opacity: 0.0;
}

.card-image-cutout {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.55;
    background-position: right;
    pointer-events: none;
    filter: grayscale(1) opacity(0.4);
    z-index: 1;
}

.card-unavailable .card-image-cutout {
    display: none;
}

.player-card:hover {
    /*border for slide in out animation thing, outline for no movement at all*/
    border: 2px solid rgba(255, 255, 255, 0.20);
}
.card-unavailable:hover {
    /*border for slide in out animation thing, outline for no movement at all*/
    border: 2px solid transparent !important;
}

.player-card:hover .card-image,
.player-card-clicked .card-image 
{
    opacity: 0.80;
    /* filter: grayscale(0); */
}
.card-unavailable:hover .card-image,
.card-unavailable:hover .card-image-cutout
{
    opacity: 0.0 !important;
    filter: grayscale(1) opacity(0.4) !important;
}
.player-card:hover .card-image-cutout,
.player-card-clicked .card-image-cutout
{
    opacity: 0.85;
    filter: grayscale(0);
}

.player-card:active .card-image,
.player-card:active .card-image-cutout
{
    opacity: 0.65;
    filter: grayscale(0.1);
}
.card-unavailable:active .card-image,
.card-unavailable:active .card-image-cutout
{
    opacity: 0.10;
    filter: grayscale(0.1) opacity(0.4);
}

.card-content {
    visibility: visible;
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: flex-end;
    /* align-items: flex-end; */
    /* align-content: stretch; */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    /* overflow: hidden; */
}

.card-photo {
    position: absolute;
    left: 0;
    bottom: 47px;
    height: 100%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    /* TODO: player photos get blurry RIGHT AT 'background-size: 186px'... DONT KNOW WHY */
    /* NOTE: annnnndd maybe 187px???? idk */
    background-size: 188px;
    filter: saturate(1.2);
}

.card-unavailable .card-photo {
    opacity: 0.55;
    bottom: 45px;
}

.image-small-logo {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 10px;
    bottom: 10px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    pointer-events: none;
    background-size: 40px;
    background-color: rgba(135, 135, 135, 0.103);
    border: 1px solid rgb(255, 255, 255, 0.08);
    z-index: 3;
}

.image-small-champ {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 12px;
    bottom: 16px;
    border-radius: 7px;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: contain;
    background-position: center;
    background-size: 58px;
    background-color: rgba(135, 135, 135, 0.30);
    z-index: 3;
}

.card-unavailable .image-small-champ,
.card-unavailable .player-level
{
    display: none;
}

.player-level {
    position: absolute;
    left: 38px;
    bottom: 8px;
    transform: translateX(-50%);
    pointer-events: none;
    background-color: rgba(10, 10, 10, 1.0);
    z-index: 4 !important;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: 'RobotoMono_Regular';
    border-radius: 12px;
    padding: 2px 6px 2px 6px;
    font-size: 10px;
}

.blur-small {
    position: absolute;
    height: 52px;
    width: 52px;
    left: 12px;
    pointer-events: none;
    bottom: 10px;
    border-radius: 7px;
    background-color: rgba(135, 135, 135, 0.10);  
    backdrop-filter: blur(6px);
    z-index: 2;
}

.card-unavailable .blur-small {
    display: none;
}

.game-timer {
    visibility: visible;
    position: absolute !important;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 4px 8px 5px 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 5px;
    pointer-events: all;
    top: 4px;
    right: 4px;
    background-color: rgba(15, 15, 15, 0.45);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.game-timer-text {
    font-family: 'RobotoMono_Regular' !important;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.50);
    pointer-events: none;
    z-index: 4 !important;
    user-select: none;
}

.card-unavailable .game-timer {
    top: 2px !important;
    right: 2px !important;
    /* background-color: rgba(15, 15, 15, 0.45) !important; */
}

.loading-dots {
    display: none;
    pointer-events: none;
    user-select: none;
}

.card-unavailable .loading-dots {
    display: block;
    height: 16px;
    text-align: center;
    z-index: 3;
    opacity: 0.75;
    pointer-events: none;
    user-select: none;
}

.loading-dot {
    display: inline;
    margin: 0 0.1em 0 0.1em;
    position: relative;
    top: -.6em;
    font-size: 20px;
    opacity: 0;
    animation: showHideDot 1s ease-in-out infinite;
    pointer-events: none;
    user-select: none;
}

.dot-one {
    animation-delay: 0.1s;
}

.dot-two {
    animation-delay: 0.3s;
}

.dot-three {
    animation-delay: 0.5s;
}

@keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

.ending-text {
    color: rgba(255, 52, 79, 0.877) !important;
}
.ending-svg {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.player-card:hover .ending-bg {
    background-color: rgba(35, 0, 0, 0.45) !important;
}
.ending-bg {
    background-color: rgba(20, 0, 0, 0.45) !important;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: middle;
    flex: 1;
    z-index: 2;
    pointer-events: none;
    border-radius: 0 0 5px 5px;
    padding: 1px 4px 7px 67px;
    height: 35px;
    backdrop-filter: grayscale(1) blur(3px);
    background-color: rgba(0, 0, 0, 0.20);
    margin: 0 4px 4px 4px;
    /* background-image: linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.45) 40%, rgba(0,0,0,0) 75%); */
}

.card-unavailable .text-container {
    padding-left: 0;
    flex: 1;
    align-items: center;
    border-bottom-left-radius: 10px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.25) 40%, rgba(0,0,0,0) 75%);
}

.text-summoner {
    font-family: 'NotoSansKR_Medium';
    max-height: 23px;
    color: white;
    pointer-events: none;
    display: block;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    width: 100%;
}

.card-unavailable .text-summoner {
    max-height: 58px;
    margin: 8px 0 5px 0;
    color: rgba(255, 255, 255, 0.4);
    text-align: center !important;
}

.text-sub {
    font-family: 'RobotoMono_Regular';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.50);
    pointer-events: none;
    z-index: 4 !important;
    user-select: none;
    white-space: nowrap;
    margin: 0 0 -6px 0;
}

.card-unavailable .text-sub,
.card-unavailable .game-timer-text
{
    display: none;
}
  
.clock-svg {
    margin: 1px 5px 0 0;
    height: 12px;
    opacity: 0.5;
    pointer-events: none;
}

.card-unavailable .clock-svg {
    display: none;
}

.card-unavailable .ending-text
{
    color: rgba(255, 52, 79, 0.877) !important;
}

.player-card:hover .text-sub,
.player-card:hover .game-timer-text,
.player-card-clicked .text-sub
{
    color: rgba(255, 255, 255, 0.85);
}
.player-card:active .text-sub {
    color: rgba(255, 255, 255, 0.75);
}
.player-card:hover .clock-svg,
.player-card-clicked .clock-svg
{
    opacity: 1.0;
}
.player-card:active .clock-svg {
    opacity: 0.8;
}

@keyframes blinkEnding {
    0% {
        box-shadow: 0 0 100px 12px rgba(255, 52, 79, 0.40);
    }
    50% {
        box-shadow: 0 0 100px 12px rgba(255, 52, 79, 0.80);
    }
    100% {
        box-shadow: 0 0 100px 12px rgba(255, 52, 79, 0.40);
    }
}