:root {
    --button-disabled: rgba(69, 69, 69, 0.25);
    --button-normal: rgba(69, 69, 69, 0.50);
    --button-pressed: rgba(69, 69, 69, 0.60);
    --button-pressedSelected: rgba(69, 69, 69, 0.90);
    --button-selected: rgba(79, 79, 79, 0.80);
    --button-selectedHover: rgba(79, 79, 79, 0.95);
}


.options-container {
    display: flex;
    flex-grow: 1;
    width: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    user-select: none;
    pointer-events: none;
    z-index: 3 !important;
}

.options-disabled {
    filter: grayscale(1) opacity(0.7) !important;
}
.options-disabled .options-section,
.options-disabled .options-section-champ,
.options-disabled .options-button,
.options-disabled .options-button-champ,
.options-disabled .options-button-champ-normal
{
    pointer-events: none !important;
}

.options-section {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    user-select: none;
    pointer-events: none;
    z-index: 2;
}
.options-section-hidden {
    display: none;
}

.options-section-champ {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    user-select: none;
    pointer-events: none;
}

.section-expanded {
    width: 100%;
}

.options-champ-scroll {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    user-select: none;
    overflow-x: scroll;
    overflow-y: hidden;
    pointer-events: all;
    width: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.options-champ-scroll::-webkit-scrollbar {
    display: none;
}

.section-label {
    font-family: 'Inter_Regular';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.25);
    white-space:nowrap;
    margin-right: 8px;
}
.section-label-disable {
    display: none;
}

.options-button {
    pointer-events: all;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--button-normal);
    height: 31px;
    margin: 0 3px 0 3px;
    border-radius: 6px;
    padding: 0 12px 0 0;
    transition: 0.10s;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.options-button-champ-normal {
    pointer-events: all;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--button-normal);
    height: 31px;
    margin: 0 3px 0 3px;
    border-radius: 6px;
    padding: 0 0 0 1px;
    transition: 0.10s;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.options-button-champ {
    pointer-events: all;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    border-radius: 6px;
    padding: 2px 2px 2px 2px;
    border: 2px solid transparent;
    filter: saturate(0.8);
    cursor: pointer;
}

.options-button-disabled {
    pointer-events: none;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--button-normal);
    height: 31px;
    margin: 0 3px 0 3px;
    border-radius: 6px;
    padding: 0 12px 0 0;
    transition: 0.10s;
    opacity: 0.5;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.options-button-disabled .image-flag {
    opacity: 0.5;
    filter: saturate(0);
}

.options-button:active {
    background-color: var(--button-pressed) !important;
}
.options-button-selected:active {
    background-color: var(--button-pressedSelected) !important;
}

.options-button-selected {
    pointer-events: all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-selected);
    height: 31px;
    margin: 0 3px 0 3px;
    border-radius: 6px;
    padding: 0 12px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.09);
    cursor: pointer;
}

.options-button-champ-selected {
    pointer-events: all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 0 3px 0 3px;
    border-radius: 6px;
    padding: 2px 2px 2px 2px;
    border: 2px solid rgba(255, 255, 255, 0.35);
    filter: brightness(1.0) saturate(1.0);
    cursor: pointer;
}

.options-button-champ:hover {
    border: 2px solid rgba(255, 255, 255, 0.15);
    background-color: none;
}
.options-button-champ:hover .image-champ {
    border-radius: 3px;
}

.options-button:hover {
    background-color: var(--button-selected);
}
.options-button-selected:hover {
    background-color: var(--button-selectedHover);
}
.options-button-champ-normal:hover {
    background-color: var(--button-selected);
}

.image-null.tooltip {
    display: none;
}
.section-close {
    display: block;
    margin-left: 8px;
}

.options-section-champ .section-close {
    display: block;
    margin-left: 4px;
    width: 40 !important;
    max-width: 40 !important;
}

.section-close img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -50%);
}

.image-null {
    display: none;
}

.image-none {
    opacity: 0;
    width: 12px;
}

.image-flag {
    display: block;
    height: 32px;
    width: 18px;
    max-height: 32px !important;
    max-width: 18px !important;
    object-fit: contain;
    margin-right: 8px;
    margin-left: 12px;
}

.image-icon {
    display: block;
    object-fit: contain;
    opacity: 0.25;
    margin-right: 8px;
    margin-left: 12px;
}

.image-role {
    display: block;
    height: 6px;
    width: 6px;
    object-fit: contain;
    opacity: 0.45;
    margin-right: 8px;
    margin-left: 12px;
}

.image-champ {
    display: block;
    height: 30px;
    width: 30px;
    object-fit: contain;
    filter: saturate(1.3);
    border-radius: 3px;
}

.image-right {
    display: block;
    object-fit: contain;
    opacity: 0.25;
    margin-right: 12px;
    margin-left: 12px;
}

.options-button-champ-selected .champ-edge-left {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.options-button-champ-selected .champ-edge-right {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.options-button-champ-normal .champ-edge-left {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.options-button-champ-normal .champ-edge-right {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.options-button-selected .image-icon,
.options-button:hover .image-icon,
.options-button:hover .image-right,
.options-button-champ-normal:hover .image-icon,
.options-button-champ-normal:hover .image-right,
.options-button-champ-selected .image-icon,
.options-button-champ:hover .image-icon,
.options-button-champ:hover .image-right
{
    opacity: 0.50;
}
.options-button:hover .image-role,
.options-button-champ-normal:hover .image-role,
.options-button-champ:hover .image-role 
{
    opacity: 0.80;
}
.options-button:hover .image-champ {
    filter: brightness(1.05);
}
.options-button:active .image-icon,
.options-button:active .image-right,
.options-button-champ-normal:active .image-icon,
.options-button-champ-normal:active .image-right,
.options-button-champ:active .image-icon,
.options-button-champ:active .image-right
{
    opacity: 0.30;
}
.options-button:active .image-role,
.options-button-champ-normal:active .image-role,
.options-button-champ:active .image-role
{
    opacity: 0.40;
}
.options-button:active .image-champ {
    filter: brightness(0.90);
}


.options-button-champ-normal:hover .image-champ {
    filter: brightness(1.10) saturate(1.3);
}
.options-button-champ-normal:active .image-champ {
    filter: brightness(0.90) saturate(1.3);
}

.options-button-champ:hover .image-champ {
    filter: brightness(1.25) saturate(1.3);
}
.options-button-champ-selected:hover .image-champ {
    filter: brightness(1.15) saturate(1.3);
}
.options-button-champ:active .image-champ {
    filter: brightness(0.80);
}

.button-content {
    font-family: 'Inter_Regular';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.80);
    white-space:nowrap;
}