:root {
    color-scheme: dark;
    --section-badge-bg: rgba(10, 10, 10, 0.70);
    --section-badge-empty: rgba(15, 15, 15, 0.50);
    --players-section-title-fg: rgba(255, 255, 255, 0.80);
    --players-section-badge-fg: rgba(255, 255, 255, 0.40);
    --players-section-empty-fg: rgba(255, 255, 255, 0.35);
    --divider-text-fg: rgba(255, 255, 255, 0.45);
    --divider-1: rgba(255, 255, 255, 0.10);
    --players-empty-bg: rgba(25, 25, 25, 0.60);
    --players-empty-border: rgba(255, 255, 255, 0.05);
    --players-empty-text-fg: rgba(255, 255, 255, 0.15);
}

.pros-container {
    flex: 1;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    padding: 0 0 0 55px;
}

.first-group {
    margin-top: 10px;
}
.last-group {
    margin-bottom: 30px;
}
.unsorted-group {
    padding-top: 10px !important;
}

.pros-scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
}

.players-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0 17px 0 0;
/*    background-color: red;*/
}

.players-section-title {
    font-family: 'Inter_Medium', serif;
    font-size: 13px;
    color: var(--players-section-title-fg);
    white-space: nowrap;
    text-align: left;
    letter-spacing: .06em;
}

.players-section-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 20px 13px 10px 33px;
}

.players-section-badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    margin-left: 10px;
}
.players-section-badge span {
    font-family: 'RobotoMono_Regular', serif;
    text-align: center;
    font-size: 12px;
    color: var(--players-section-badge-fg);
    pointer-events: none;
    z-index: 2;
    user-select: none;
}

.players-section-empty {
    font-family: 'Inter_Regular', serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--players-section-empty-fg);
    pointer-events: none;
    z-index: 2;
    border-radius: 12px;
    user-select: none;
    background-color: var(--card-bg);
    backdrop-filter: blur(12px);
    padding: 5px 10px 5px 10px;
    margin: 15px auto 0 auto;
    letter-spacing: .02em;
}

.pros-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding: 0 20px 0 20px;
    -webkit-transition: all 0.15s ease;  
    -moz-transition: all 0.15s ease;  
    -o-transition: all 0.15s ease;  
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    margin-bottom: 10px;
}

.group-sidebar {
    min-height: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.group-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 28px;
    margin: 0 13px 0 13px;
}

.hor-divider {
    height: 1px;
    width: 100%;
    background-color: var(--divider-1);
}

.divider-left {
    max-width: 65px !important;
}

.group-divider-text {
    font-family: 'RobotoMono_Regular', serif;
    font-size: 12px;
    margin: 0 13px 0 13px;
    color: var(--divider-text-fg);
    white-space: nowrap;
    text-align: left;
    text-transform: capitalize;
}

.group-collapsed .group-sidebar {
    opacity: 1.0;
}

.group-image-icon {
    width: 18px;
    opacity: 0.35;
}

.group-image-logo {
    width: 28px;
    opacity: 0.95;
    filter: grayscale(1) opacity(0.35);
}

.group-sidebar:hover .group-image-logo {
    filter: grayscale(0) opacity(0.90);
}

.pros-group:hover .group-sidebar {
    opacity: 1.0;
}

.pros-group:hover .group-image-icon {
    display: block;
    opacity: 0.55;
}

.pros-grid {
    display: grid;
    justify-items: center;
    justify-content: center;
    flex: 1;
    max-height: 1000px;
    transition: max-height 0.45s;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 20px 16px;
    margin-bottom: 10px;
}

.group-collapsed .pros-grid {
    max-height: 0;
    transition: max-height 0.25s;
    overflow: hidden;
}

.players-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--players-empty-bg);
    border: 1px solid var(--players-empty-border);
    margin: 0 0 0 55px;
    border-radius: 5px;
    z-index: 2;
}

.players-empty span {
    font-family: 'Inter_Medium', serif;
    font-size: 22px;
    color: var(--players-empty-text-fg);
    margin-bottom: 47px;
    text-align: center;
}

.br_BA .players-empty span {
    font-family: 'ChmcBraille_nK5P', 'Inter_Medium', serif !important;
    letter-spacing: 3px !important;
}