:root {
    color-scheme: dark;
}

.pros-container {
    flex: 1;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    padding: 0 0 0 55px;
}

.first-group {
    margin-top: 10px;
}
.last-group {
    margin-bottom: 30px;
}

.pros-scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
}

.pros-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding: 0 20px 0 20px;
    -webkit-transition: all 0.15s ease;  
    -moz-transition: all 0.15s ease;  
    -o-transition: all 0.15s ease;  
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    /* background-color: rgb(50, 50, 50); */
    margin-bottom: 10px;
}

.group-sidebar {
    min-height: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.group-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 28px;
    margin: 0 13px 0 13px;
}

.group-divider {
    height: 1px;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.10);
}

.divider-left {
    max-width: 65px !important;
}

.group-divider-text {
    font-family: 'RobotoMono_Regular';
    font-size: 12px;
    margin: 0 13px 0 13px;
    color: rgba(255, 255, 255, 0.45);
    white-space: nowrap;
    text-align: left;
    text-transform: capitalize;
}

.group-collapsed .group-sidebar {
    opacity: 1.0;
}

.group-image-icon {
    width: 18px;
    opacity: 0.35;
}

.group-image-logo {
    width: 28px;
    opacity: 0.95;
    filter: grayscale(1) opacity(0.35);
}

.group-sidebar:hover .group-image-logo {
    filter: grayscale(0) opacity(0.90);
}

.pros-group:hover .group-sidebar {
    opacity: 1.0;
}

.pros-group:hover .group-image-icon {
    display: block;
    opacity: 0.55;
}

.pros-grid {
    display: grid;
    justify-items: center;
    justify-content: center;
    flex: 1;
    max-height: 1000px;
    transition: max-height 0.45s;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 20px 16px;
    margin-bottom: 20px;
}

.group-collapsed .pros-grid {
    max-height: 0;
    transition: max-height 0.25s;
    overflow: hidden;
}

.players-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgba(25, 25, 25, 0.60);
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin: 0 0 0 55px;
    border-radius: 5px;
    z-index: 2;
}

.players-empty span {
    font-family: 'Inter_Medium';
    font-size: 22px;
    color: rgba(255, 255, 255, 0.15);
    margin-bottom: 47px;
    text-align: center;
}

.br_BA .players-empty span {
    font-family: 'ChmcBraille_nK5P', 'Inter_Medium' !important;
    letter-spacing: 3px !important;
}