:root {
    color-scheme: dark;
}

.pros-container {
    width: 100%;
    /* height: calc(100vh - 47px); */
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.17); */
    /* background-color: rgba(25, 25, 25, 0.40); */
    /* background-color: rgba(0, 0, 0, 0.30); */
    /* border-top-left-radius: 8px; */
    /* border-top-right-radius: 8px; */
    display: inline-block;
    overflow: hidden;
    /* border-top: 1px solid rgb(255, 255, 255, 0.08); */
    z-index: 2;
    /* margin: 47px 0 0 0; */
}

.first-group {
    margin-top: 62px;
}
.last-group {
    margin-bottom: 15px;
}

.pros-scroll {
    height: 100%;
    padding: 0 15px 0 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pros-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding: 0 0 0 20px;
    border-radius: 5px;
    -webkit-transition: all 0.15s ease;  
    -moz-transition: all 0.15s ease;  
    -o-transition: all 0.15s ease;  
    -ms-transition: all 0.15s ease;  
    transition: all 0.15s ease;
    /* background-color: rgba(255, 255, 0, 0.12); */
    margin-bottom: 20px;
}

/* .group-collapsed:hover {
    background-color: rgba(255, 255, 255, 0.05);
} */

/* .pros-group:hover {
    background-color: rgba(255, 255, 255, 0.02);
} */

.group-sidebar {
    /* height: 13px; */
    min-height: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    /* background-color: rgba(0, 255, 255, 0.103); */
}

.group-divider {
    margin: 0 0  0 13px;
    height: 1px;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.10);
}

.group-divider-text {
    font-family: 'Inter_Medium';
    font-size: 12px;
    /* margin: 8px 4px 8px 4px; */
    /* margin: 0 13px 0 0; */
    /* width: 55px; */
    color: rgba(255, 255, 255, 0.80);
    white-space: nowrap;
    text-align: left;
    /* background-color: aqua; */
    text-transform: capitalize;
    /* width: 100%; */
}

.group-collapsed .group-sidebar {
    opacity: 1.0;
    /* margin-top: 0; */
    /* border-radius: 0 5px 5px 0; */
}

/* .group-sidebar:hover {
    background-color: rgba(50, 50, 50, 0.40);
} */
.group-sidebar:hover .group-image {
    opacity: 0.50;
}
.group-sidebar:hover .group-divider {
    background-color: rgba(255, 255, 255, 0.15);
}
.group-sidebar:hover .group-divider-text {
    color: rgba(255, 255, 255, 0.90);
}
/* .group-sidebar:active {
    background-color: rgba(45, 45, 45, 0.85);
} */
.group-sidebar:active .group-image {
    opacity: 0.40;
}
.group-sidebar:active .group-divider-text {
    color: rgba(255, 255, 255, 0.75);
}
.group-sidebar:active .group-divider {
    background-color: rgba(255, 255, 255, 0.10);
}

.group-image {
    width: 18px;
    opacity: 0.35;
    /* height: 30px; */
}

.pros-group:hover .group-sidebar {
    opacity: 1.0;
}

.pros-group:hover .group-image {
    display: block;
}

.pros-grid {
    display: grid;
    flex: 1;
    /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
    /* grid-auto-rows: 213px; */
    /* row-gap: 20px; */
    /* column-gap: 20px; */
    /* grid-auto-flow: column dense; */
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 20px 20px;
    /* width: 100%; */
    /* grid-auto-columns: max-content; */
    padding: 20px 0 20px 0;
    /* padding: 82px 0 30px 0; */
    /* background-color: rgba(137, 43, 226, 0.281); */
}

.pros-hidden {
    display: none !important;
}