:root {
    --accent: rgba(255, 0, 61, 0.80);
    --toggle-unselected: rgba(255, 255, 255, 0.30);
    --toggle-unselected-hover: rgba(255, 255, 255, 0.40);
}

.circle {
    width: 15px;
    height: 15px;
}
.bar {
    width: 15px;
    height: 15px;
}

.offSelected {
    background-color: var(--accent);
    mask: url('src/assets/icons/circle.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/circle.svg') no-repeat center / contain;
}
.offUnselected {
    background-color: var(--toggle-unselected);
    mask: url('src/assets/icons/circle.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/circle.svg') no-repeat center / contain;
}
.onSelected {
    background-color: var(--accent);
    mask: url('src/assets/icons/bar.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/bar.svg') no-repeat center / contain;
}
.onUnselected {
    background-color: var(--toggle-unselected);
    mask: url('src/assets/icons/bar.svg') no-repeat center / contain;
    -webkit-mask: url('src/assets/icons/bar.svg') no-repeat center / contain;
}

.bool-half:hover .offUnselected,
.bool-half:hover .onUnselected
{
    background-color: var(--toggle-unselected-hover);
}

.settings-outer {
    display: flex;
    position: absolute;
    flex-direction: row;
    height: 100%;
    width: 597px;
    background-color: rgb(61, 61, 61);
    user-select: none;
    pointer-events: all;
    top: 0;
    left: -542px;
    border-right: 1px solid rgba(255,255,255,0.05);
    z-index: 3;
    border-radius: 0 10px 10px 0;
    /* overflow: hidden; */
    transition: .25s;
}

.settings-open {
    left: 0 !important;
}

.settings-vertical-container {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    vertical-align: middle;
    justify-content: center;
    width: 55px;
    border-radius: 10px;
    pointer-events: all;
    z-index: 3;
    padding: 0 0 20px 0;
}

.vertical-button {
    pointer-events: all;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    flex: 1;
    margin: 0 5px 0 6px;
    height: 42px;
    cursor: pointer;
    border-radius: 5px;
}

/* .vertical-button:hover {
    background: rgba(255, 255, 255, 0.07);
} */
.vertical-button:active {
    background: rgba(255, 255, 255, 0.10);
}
.vertical-button:active img {
    opacity: 0.4 !important;
}

.vertical-button img {
    opacity: 0.25;
    user-select: none;
    pointer-events: none;
}
.vertical-button:hover img {
    opacity: 0.5;
}

.settings-outer .settings-inner {
    display: flex;
    position: relative;
    background-color: #333333;
    flex: 1;
    margin: 20px 0 20px 0;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.inner-none {
    display: none !important;
}

.settings-dark-overlay {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    border-radius: 0 10px 10px 0;
    background-color: rgba(22, 22, 22, 0.90);
    z-index: 2;
}

.settings-background-left {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    border-radius: 10px 0 0 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    opacity: 0.55;
    z-index: 1;
    /* -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1); */
}

.settings-background-center {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    border-radius: 10px 0 0 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.55;
    z-index: 1;
    /* -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1); */
}

.settings-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 3;
}

.settings-close-container {
    display: flex;
    align-items: flex-start;
    padding: 20px 20px 12px 42px;
    border-top-right-radius: 10px;
    z-index: 3;
}

.settings-close-container .titlebar-button {
    margin-left: auto;
}

.close-button {
    display: block;
    margin-left: 8px;
}

.settings-close-container .close-button {
    display: block;
    width: 40 !important;
    max-width: 40 !important;
}

.close-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -47%);
}

.settings-buttons-container {
    display: flex;
    flex-direction: row;
    padding: 12px 0 0 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 3;
    border-bottom: 1px inset rgba(255,255,255,0.05);
}

.settings-title-text {
    font-family: 'Inter_Medium';
    font-size: 26px;
    color: white;
    margin: 15px auto 0 0;
    line-height: 1.5;
}

.settings-page-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
}

.settings-page {
    flex: 1;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.10);
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 20px 20px 30px;
}

.page-active {
    display: flex !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.settings-page-button {
    padding: 0 6px 0 6px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    /* background-color: rgba(0, 255, 255, 0.308); */
}

.page-button-inner {
    padding: 0 10px 0 10px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 11px !important;
    height: 100%;
    /* background-color: rgba(128, 255, 0, 0.274); */
    border-bottom: 1px solid transparent;
}

.page-button-active .page-button-inner {
    border-bottom: 1px solid var(--accent);
}

.settings-page-button span {
    font-family: 'Inter_Medium';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
}

.settings-page-button:active span {
    color: rgba(255, 255, 255, 0.35) !important;
}

.settings-page-button:hover span {
    color: rgba(255, 255, 255, 0.60);
}

.page-button-active span {
    color: rgba(255, 255, 255, 0.90) !important;
}
.page-button-active:active span {
    color: rgba(255, 255, 255, 0.75) !important;
}

.settings-page-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    padding: 8px 8px 8px 12px;
    border-radius: 5px;
}

.settings-page-item:hover {
    background-color: rgba(46, 46, 46, 0.40);
    backdrop-filter: blur(4px);
}
.settings-page-item:active {
    background-color: rgba(46, 46, 46, 0.45);
}

.child-disabled {
    pointer-events: none !important;
    opacity: 0.4 !important;
    filter: grayscale(1);
}

.item-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-child-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    border-left: 1px solid rgba(255, 255, 255, 0.10);
    padding: 0 0 0 15px;
    margin: 8px 0 0 20px;
}

.item-title-conatiner,
.item-child-conatiner,
.item-child-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}

.item-child-conatiner {
    pointer-events: all;
    z-index: 2;
}

.item-title-conatiner span,
.item-child-text span
{
    font-family: 'Inter_Medium';
    font-size: 12px;
    text-align: left;
}

.item-title {
    color: rgba(255, 255, 255, 0.90);
}
.item-description {
    color: rgba(255, 255, 255, 0.28);
    margin-top: 2px;
    line-height: 1.4;
}

.center-container {
    justify-content: center !important;
}

.description-hidden {
    display: none !important;
}



.item-value-bool {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 115px;
    height: 32px;
    border-radius: 6px !important;
    backdrop-filter: blur(6px) !important;
    overflow: hidden;
    flex: none;
    margin: auto 0 auto 20px;
    cursor: pointer;
}
.bool-half {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 50%;
    height: 32px;
    background: rgba(79, 79, 79, 0.70);
}
.bool-half:hover {
    background: rgba(79, 79, 79, 0.90);
}
.bool-half:active {
    background: rgba(79, 79, 79, 0.65);
}
.half-left {
    border-radius: 6px 0 0 6px;
}
.half-right {
    border-radius: 0 6px 6px 0;
}
.half-selected {
    background: rgba(67, 67, 67, 0.3) !important;
}
.half-selected:hover {
    background: rgba(67, 67, 67, 0.50) !important;
}
.half-selected:active {
    background: rgba(67, 67, 67, 0.25) !important;
}


.item-value-selector {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 115px !important;
    height: 32px;
    border-radius: 6px !important;
    backdrop-filter: blur(5px) !important;
    overflow: hidden;
    flex: none;
    margin: auto 0 auto 20px;
    cursor: pointer;
    background: rgba(66, 66, 66, 0.40);
}
.item-value-selector:hover {
    background: rgba(72, 72, 72, 0.60);
}
.value-text {
    font-family: 'Inter_Medium';
    font-size: 12px;
    text-align: left;
    margin: 0 auto 0 12px;
    color: rgba(255, 255, 255, 0.85);
}
.item-value-selector:hover .value-text {
    color: rgba(255, 255, 255, 0.95);
}
.value-right {
    margin-right: 12px;
}



.settings-page-lang {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.10);
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 20px 20px 30px;
}

.page-active-lang {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-auto-rows: 32px;
    row-gap: 20px;
    column-gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-language {
    flex: none;
    height: 32px;
    width: 115px !important;
    backdrop-filter: blur(5px) !important;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.item-language:hover {
    background-color: rgba(66, 66, 66, 0.40);
}

.item-language .offUnselected {
    opacity: 0.7;
}

.item-language .offUnselected,
.item-language .offSelected,
.item-language .onUnselected,
.item-language .onSelected
{
    margin-left: 12px;
}

.lang-disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
}
.lang-disabled span,
.lang-disabled .circle
{
    opacity: 0.5 !important;
}

.language-text {
    font-family: 'Inter_Medium';
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.85);
}
.item-language:hover .language-text {
    color: rgba(255, 255, 255, 0.97);
}
.item-language:hover .offUnselected {
    opacity: 1.0;
}