:root {
    --sidebar-bg: rgba(40, 40, 40, 0.92);
    --sidebar-border-right: rgba(70, 70, 70, 0.20);
    --sidebar-button-hover: rgba(47, 47, 47, 1.0);
    --sidebar-button-active: rgba(50, 50, 50, 1.0);
    --sidebar-button-active-hover: rgba(50, 50, 50, 1.0);
    --sidebar-button-active-border: rgba(255, 187, 0, 0.95);
    --sidebar-button-border-top: rgba(30, 30, 30, 1.0);
    --sidebar-button-border-top-shadow: rgba(70, 70, 70, 0.60);
    --sidebar-button-border-bottom: rgba(70, 70, 70, 0.60);
    --sidebar-button-border-bottom-shadow: rgba(30, 30, 30, 1.0);
    --sidebar-notification-bg: rgba(255, 0, 0, 1.0);
    --sidebar-favorites-group-title-text-fg: rgba(255, 255, 255, 0.30);
    --sidebar-favorites-game-timer-text-fg: rgba(255, 255, 255, 0.60);
    --sidebar-favorites-game-timer-bg: rgba(23, 23, 23, 1.0);
    --card-image-mask-0: rgba(0,0,0,0.0);
    --card-image-mask-1: rgba(0,0,0,1);
    --card-image-mask-40: rgba(0,0,0,0.40);
}

.theme-oled {
    --sidebar-bg: rgba(0, 0, 0, 0.60);
    --sidebar-border-right: rgba(30, 30, 30, 1.0);
    --sidebar-button-hover: rgba(0, 0, 0, 0.0);
    --sidebar-button-active: rgba(0, 0, 0, 1.0);
    --sidebar-button-active-hover: rgba(0, 0, 0, 1.0);
    --sidebar-button-active-border: rgba(255, 187, 0, 0.95);
/*    --sidebar-button-active-border: rgba(255, 255, 255, 0.90);*/
    --sidebar-button-border-top: rgba(0, 0, 0, 1.0);
    --sidebar-button-border-bottom-shadow: rgba(0, 0, 0, 1.0);
}

.settings-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 55px;
    height: 100%;
    pointer-events: all;
    z-index: 5;
    background-color: var(--sidebar-bg);
    border-right: 1px solid var(--sidebar-border-right);
/*    margin: 47px 0 0 0;*/
}

.favorite-button {
    position: relative;
    pointer-events: all;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 7px 0 7px 0;
    width: 46px;
    height: 66px;
    min-height: 66px;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
    box-sizing: content-box;
    transition: all 0.07s ease;
    overflow: hidden;
}

.favorite-champ-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    height: 46px;
    width: 46px;
    background-color: rgb(47, 47, 47);
    background-size: 60px;
    background-position: center;
    z-index: 1;
mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--card-image-mask-1)), to(var(--card-image-mask-0)));
-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--card-image-mask-1)), to(var(--card-image-mask-0)));
    margin-bottom: 9px;
}

.favorite-button:hover .favorite-champ-bg {
mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--card-image-mask-1)), to(var(--card-image-mask-1)));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(var(--card-image-mask-1)), to(var(--card-image-mask-1)));
}

.favorite-button img {
    position: relative;
    width: 150%;
    height: 55px;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    margin-bottom: 13px;
}

.favorite-game-timer-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 50px;
    background-color: var(--sidebar-favorites-game-timer-bg);
    padding: 4px 0 3px 0;
    border-radius: 0 0 6px 6px;
    font-family: 'RobotoMono_Regular', serif !important;
    text-align: center;
    font-size: 10px;
    color: var(--sidebar-favorites-game-timer-text-fg);
    pointer-events: none;
    z-index: 3 !important;
    user-select: none;
}

.sidebar-button {
    pointer-events: all;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 20px 0 20px 1px;
    width: 100%;
    cursor: pointer;
    /* border-top: 1px solid rgb(37, 37, 37); */
    /* box-shadow: 0px 2px 0 rgb(88, 88, 88); */
    /* box-shadow: inset 0px 1px 0 rgb(83, 83, 83); */
    transition: all 0.07s ease;
}

#sb-live img {
    width: 18px;
}
#sb-cq img {
    width: 19px;
}
#sb-players img {
    width: 19px;
}
#sb-history img {
    width: 17px;
}
#sb-settings img {
    width: 19px;
}

.sidebar-button:active img {
    opacity: 0.40 !important;
}

.sidebar-button img {
/*    width: 19px;*/
    opacity: 0.20;
    user-select: none;
    pointer-events: none;
}
.sidebar-button:hover {
    background-color: var(--sidebar-button-hover);
}
.sidebar-button:hover img {
    opacity: 0.47;
}

#settings-button {
    margin-bottom: 14px !important;
}
.sidebar-button-active {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 3px solid var(--sidebar-button-active-border);
    background-color: var(--sidebar-button-active);
}
.sidebar-button-active:hover {
    background-color: var(--sidebar-button-active-hover);
}
.sidebar-button-active img {
    margin-left: -3px;
    opacity: 0.70 !important;
}

.sidebar-group {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.pages-group {
    box-sizing: border-box;
    margin: 46px 0 auto 0;
}
.settings-group {
    box-sizing: border-box;
/*    margin: 0 0 47px 0;*/
}

.favorites-group {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.favorites-scroll {
    position: absolute;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -19px;
    left: 0;
    padding: 7px 0 0 0;
    /* margin-top: 5px; */
}

.favorites-group-title {
    font-family: 'Inter_Medium', serif;
    text-transform: uppercase;
    font-size: 9px;
    /* width: 100%; */
    color: var(--sidebar-favorites-group-title-text-fg);
    text-align: center;
    margin: 5px 0 auto 0;
}

.borders-top {
    border-top: 1px solid var(--sidebar-button-border-top);
box-shadow: inset 0 1px 0 var(--sidebar-button-border-top-shadow);
}
.borders-bottom {
    border-bottom: 1px solid var(--sidebar-button-border-bottom);
box-shadow: inset 0 -1px 0 var(--sidebar-button-border-bottom-shadow);
}
.borders-both {
    border-top: 1px solid var(--sidebar-button-border-top);
border-bottom: 1px solid var(--sidebar-button-border-bottom);
box-shadow: inset 0 1px 0 var(--sidebar-button-border-top-shadow), inset 0 -1px 0 var(--sidebar-button-border-bottom-shadow);
}

.notification-dot {
    display: inline;
    margin: 0 0.1em 0 0.1em;
    position: absolute;
    top: -.58em;
    right: .16em;
    font-size: 27px;
    opacity: 0;
    animation: showHideNotification 2.0s ease-in-out infinite;
    pointer-events: none;
    user-select: none;
    animation-delay: 0.2s;
    color: var(--sidebar-notification-bg);
text-shadow: 0 0 3px var(--sidebar-notification-bg);
}

@keyframes showHideNotification {
    0% { opacity: 0.65; }
    50% { opacity: 0.95; }
    60% { opacity: 0.95; }
    100% { opacity: 0.65; }
}