:root {
    --searchbar-normal: rgba(50, 50, 50, 0.60);
    --searchbar-focus: rgba(50, 50, 50, 0.75);
}

.titlebar {
    display: flex;
    /* flex-grow: 1; */
    height: 47px;
    background-color: rgba(30, 30, 30, 0.985);
    /* background-color: rgba(0, 0, 0, 0.25); */
    /* background-color: rgba(90, 90, 90, 0.80); */
    /* background-color: rgba(255, 90, 90, 0.50); */
    width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.titlebar-inner {
    pointer-events: none;
    display: flex;
    align-items: center;
    height: 47px;
    flex-grow: 1;
    width: 100%;
    z-index: 2;
    padding-left: 63px;
    /* backdrop-filter: blur(1px) grayscale(1); */
    border-bottom: 1px solid rgba(255,255,255,0.06);
}

.titlebar-blur {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    min-width: 100vw;
}

.titlebar-button {
    pointer-events: all;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.refresh-group {
    user-select: none;
    pointer-events: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 8px;
    width: 254px;
    height: 100%;
    /* background-color: #e811233b; */
}

.controls-group {
    user-select: none;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    /* align-content: flex-end; */
    flex-direction: row;
    align-items: center;
    height: 100%;
    /* width: 300px; */
    padding-right: 8px;
    padding-left: 8px;
    /* background-color: rgba(0, 0, 255, 0.24); */
}

.titlebar-button-edge:hover,
.titlebar-button:hover
{
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(4px);
}
.titlebar-button:active {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4px);
}

.titlebar-button img {
    opacity: 0.25;
    user-select: none;
}
.titlebar-button:hover img {
    opacity: 0.6;
}

.titlebar-button-edge-left {
    border-radius: 5px 0 0 5px;
}
.titlebar-button-edge-right {
    border-radius: 0 5px 5px 0;
}
.titlebar-button-edge-both {
    border-radius: 5px 5px 5px 5px;
}

#titlebar-sidebar img {
    height: 16px;
}

#titlebar-close {
    padding-right: 7px;
}
#titlebar-close:hover {
    background: #E81123 !important;
}
#titlebar-close:hover img {
    opacity: 0.95 !important;
}

.refresh-text {
    font-family: 'Inter_Light';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.20);
    margin-left: 8px;
    white-space:nowrap;
}

.search-bar {
    margin-right: 7px;
    float: right;
    position: relative;
    backdrop-filter: blur(4px);
}

.search-bar-active input[type=text] {
    width: 225px !important;
}

.search-bar input[type=text] {
    /* TODO: Need to figure out how to align options container width and search bar width with transition. */
    pointer-events: all;
    float: right;
    width: 150px;
    flex: 1;
    transition: 0.15s;
    /* transition: width 0.3s linear; */
    height: 30px;
    padding: 1px 30px 0 10px;
    /* margin: 8px 0; */
    display: block;
    outline: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--searchbar-normal);
    /* backdrop-filter: blur(6px); */
    /* background-image: url('src/assets/icons/search.svg'); */
    background-position: calc(100% - 10px) 55%;
    background-repeat: no-repeat;
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.80);
    caret-color: white;
}

.search-bar input[type=text]:focus {
    /* background-color: var(--searchbar-focus); */
    width: 225px;
    text-decoration: none !important;
    /* flex: 2; */
    /* border: none !important; */
    /* outline: none !important; */
}

.search-bar input[type=text]:focus .options-container {
    flex: 1;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.search-bar ::placeholder {
    font-family: 'Inter_Light';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.20);
    white-space:nowrap;
}
/* Internet Explorer 10-11 */
.search-bar ::-ms-input-placeholder {
    font-family: 'Inter_Light';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.20);
    white-space:nowrap;
}
/* Microsoft Edge */
.search-bar ::-ms-input-placeholder {
    font-family: 'Inter_Light';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.20);
    white-space:nowrap;
}

.search-bar input[type=text]:focus::placeholder {
    color: rgba(255, 255, 255, 0.30);
}

.search-disabled,
.search-disabled input[type=text]
{
    pointer-events: none;
    filter: grayscale(1) opacity(0.9) !important;
}

.icon-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border-radius: 0 5px 5px 0;
    /* transform: translateY(-50%); */
    pointer-events: none;
    z-index: 5 !important;
    /* background-color: #e8112327; */
}

.icon-clickable {
    pointer-events: all;
    cursor: pointer;
}

.search-icon {
    height: 14px;
    width: 14px;
    margin-top: 2px;
    pointer-events: none;
    user-select: none;
}

.close-icon {
    display: block;
    position: absolute;
    pointer-events: none;
    user-select: none;
    height: 11px;
    width: 11px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    /* margin-top: 1px; */
    opacity: 0.4;
}