html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 18px;
    /* backdrop-filter: blur(5px); */
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(60, 60, 60, 0.30);
    /* backdrop-filter: blur(5px); */
}
/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background-color: rgba(255, 255, 255, 0.20);
    border: 6px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}
/* Handle hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.30);
    border: 6px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}
/* Handle active */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.40);
    border: 6px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
    font-family: 'Inter_Light';
    src: url('src/assets/fonts/Inter Desktop/Inter-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter_Regular';
    src: url('src/assets/fonts/Inter Desktop/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter_Medium';
    src: url('src/assets/fonts/Inter Desktop/Inter-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter_Bold';
    src: url('src/assets/fonts/Inter Desktop/Inter-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'NotoSansKR_Medium';
    src: url('src/assets/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'RobotoMono_Regular';
    src: url('src/assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoMono_Medium';
    src: url('src/assets/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf');
    font-weight: 500;
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 4 !important;
}

.tooltip .tooltip-text {
    display: none;
    background-color: rgba(15, 15, 15, 0.85);
    /* backdrop-filter: blur(10px); */
    color: rgba(255, 255, 255, 0.702);
    text-align: center;
    font-family: 'RobotoMono_Regular';
    border-radius: 5px;
    padding: 3px 8px 4px 8px;
    font-size: 11px;
    position: absolute;
    z-index: 4 !important;
}

.tooltip-right {
    top: 4px;
    left: 115%;
    /* animation: 0.7s fadeIn; */
    /* animation-fill-mode: forwards; */
    /* visibility: hidden; */
}

.tooltip-left {
    top: 4px;
    right: 115%;
}

.tooltip-bottom {
    top: 115%;
    right: 0;
    width: 100px;
    border-radius: 5px 0 5px 5px !important;
    /* margin-left: -50%; */
    /* transform: translateX(-80%); */
}

.tooltip-top {
    bottom: 115%;
    left: 50%;
    /* margin-left: -50%; */
    transform: translateX(-50%);
}

@keyframes fadeIn {
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.tooltip:hover .tooltip-left,
.tooltip:hover .tooltip-right,
.tooltip:hover .tooltip-bottom,
.tooltip:hover .tooltip-top
{
    display: block;
}

.app {
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1040px;
}

.app-background {
    position: fixed;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    filter: opacity(0.30) saturate(0);
    pointer-events: none;
    z-index: 0;
}

.dark-overlay {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(25, 25, 25, 0.92);
    z-index: 1;
}

.app-inner {
    display: flex;
    padding-left: 75px  ;
    padding-top: 20px;
    padding-right: 20px;
}

.border-bottom {
    width: 100%;
    height: 1px;
    background-color: #353535;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}