html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 18px;
    /* backdrop-filter: blur(5px); */
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(60, 60, 60, 0.40);
    /* backdrop-filter: blur(5px); */
}
/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background-color: rgba(255, 255, 255, 0.20);
    border: 6px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}
/* Handle hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.30);
    border: 6px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}
/* Handle active */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.40);
    border: 6px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}

.app {
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1040px;
}

.app-background {
    position: fixed;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    filter: opacity(0.30) saturate(0);
    pointer-events: none;
    z-index: 0;
}

.dark-overlay {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(25, 25, 25, 0.92);
    z-index: 1;
}

.app-inner {
    display: flex;
    padding-left: 75px  ;
    padding-top: 20px;
    padding-right: 20px;
}

.border-bottom {
    width: 100%;
    height: 1px;
    background-color: #353535;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}